@import '../node_modules/bulma/sass/utilities/initial-variables';

$primary: #180241;
$link: #41020B;

@import '../node_modules/bulma/bulma.sass';

// prevents active navbar-menu on mobile from pushing content down
.navbar-menu.is-active {
  position: absolute;
  width: 100%;
}

// navbar dropdown should close after click
@media screen and (min-width: 1025px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
      display: none;
  }
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-burger {
  height: 4.0rem;
  width: 4.0rem;
}
  