@import '../node_modules/bulma/sass/utilities/initial-variables';

// https://colorhunt.co/palette/165126
$primary: #111D5E;
$link: #B21F66;
$navbar-item-hover-color: $primary;
$navbar-dropdown-arrow: $primary;

@import '../node_modules/bulma/bulma.sass';

// prevents active navbar-menu on mobile from pushing content down
.navbar-menu.is-active {
  position: absolute;
  width: 100%;
}

// navbar dropdown should close after click
@media screen and (min-width: 1025px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
      display: none;
  }
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-burger {
  height: 4.0rem;
  width: 4.0rem;
}
  